* { box-sizing: border-box; }
h1 { 
	text-align: center; }
p {
	border: 1px solid black;
	background-color: #A52A2A;
	margin: 4px;
	padding: 4px;
	font-family: Helvetica;
	color: white;
}

/* simple responsive framework */
.row { width: 100%; }

.title {
	position: absolute;
	background-color: lightblue;
	padding: 5px;
	padding-right: 15px;
	padding-left: 15px;
	top: 0px;
	right: 0px;
}


/*Desktop View*/
@media (min-width: 992px) {
	.col-lg-4 {
		position: relative;
		float: left;
		width: 33.33%;
	}
}

/*Tablet view*/
@media (min-width: 768px) and (max-width: 991px) {
	.col-md-6 {
		position: relative;
		float: left;
		width: 50%;
	}
	.col-md-12 {
		position: relative;
		float: left;
		width: 100%;
	}
}

/*Mobile View*/
@media (max-width: 767px) {
	.col-sm-6 {
		position: relative;
		float: left;
		width: 50%;
	}
	.col-sm-12 {
		position: relative;
		float: left;
		width: 100%;
	}
}