* { 
	box-sizing: border-box;
	font-family: "Comic Sans MS", cursive, sans-serif;
}
body {
	margin: 0px;
	padding: 0px;
}

h1 { 
	text-align: center; 
}

div {
	position: relative;
	background-color: grey;
	border: 1px solid black;
	padding: 0px;
	margin: 20px;
	float: left;
}


p {
	margin: -1px;
	padding: 4px;
	/*font-family: Helvetica;*/
	border: 1px solid black;
	font-weight: bold;
	font-size: 16px;
}

#p1{
	background-color: pink;
	float: right;
	position: relative;
	top: 0px;
	right: 0px;
}
#p2{
	background-color: red;
	float: right;
	position: relative;
	top: 0px;
	right: 0px;
}
#p3{
	background-color: yellow;
	float: right;
	position: relative;
	top: 0px;
	right: 0px;
}

#p4 {
	clear: both;
	border: none;
	font-weight: normal;
	font-size: 14px;
}

/*Desktop View*/
@media (min-width: 992px) {
	.col-lg-4 {
		position: relative;
		float: left;
		width: calc(33.33% - 40px);
	}
}

/*Tablet view*/
@media (min-width: 768px) and (max-width: 991px) {
	.col-md-6 {
		position: relative;
		float: left;
		width: calc(50% - 40px);
	}
	.col-md-12 {
		position: relative;
		float: left;
		width: calc(100% - 40px);
	}
}

/*Mobile View*/
@media (max-width: 767px) {
	.col-sm-12 {
		position: relative;
		float: left;
		width: calc(100% - 40px);
	}
}

